<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shouzhong.push.huawei" >
    <application >
        <receiver android:name="com.shouzhong.push.huawei.HuaweiPushService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </receiver>>
    </application>
</manifest>
