<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shouzhong.push" >
    <uses-permission android:name="${applicationId}.permission.PUSH_RECEIVE" />

    <permission android:name="${applicationId}.permission.PUSH_RECEIVE"
        android:protectionLevel="signature" />
</manifest>
